[project]
dynamic = ["version", "dependencies"]
name = "pah-gui"

[build-system]
build-backend = "hatchling.build"
requires = ["hatchling", "uv-dynamic-versioning"]

[tool.uv.sources]
pah-core = {workspace = true}

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.hatch.metadata.hooks.uv-dynamic-versioning]
dependencies = ["pah-core=={{version}}", "streamlit>=1.45.1"]

[tool.uv-dynamic-versioning]
bump = true
latest-tag = true
pattern = '(?P<base>\d+\.\d+\.\d+)'
strict = true
style = "pep440"
vcs = "git"
